nav {
    background-color: #252422;
    width: 100%;
    height: 90px;
    line-height: 100px;
}
nav a {
    color: #EB5E28;
    padding: 20px;
    font-size: 2rem;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.5rem;
    color: #EB5E28;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
body {
    font-family: inherit;
    line-height: inherit;
    font-family: 'Poiret One', cursive;;
    margin: 0;
    border: 0;
    background-image: url(../image/esther-tuttle-V1_7RfnZ-w4-unsplash.jpg);
    background-size: cover;
}

.grey.lighten-2 {
    background-color: #403D39 !important;
}
.card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2
px
;
    background-color: #CCC5B9;
}
.grey {
    background-color: #CCC5B9 !important;
}
.progress {
    position: relative;
    height: 20px;
    display: block;
    width: 100%;
    background-color: #EB5E28;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
label {
    font-size: 1rem;
    color: #FFFCF2;
}
#search-btn {
    color:#EB5E28;
}