body {
    height: 100vh;
    font-family: 'Poiret One', cursive;
    background-image: url(../images/esther-tuttle-V1_7RfnZ-w4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-wrapper {
  background-color: #252422;
}

.logo {
  font-size: 2rem;
}

.d-toggle {
  display:none;
}
