body { 
    height: 100vh;
    background-image: linear-gradient(rgb(155, 33, 236), 80%, rgb(11, 255, 133)) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-wrapper {
    background-color: rgb(155, 33, 236);
}

.card {
  margin: 0 .25rem;
}
.d-toggle{
  display:none;
}
.p-top{
  padding-top: 2% !important;
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .d-toggle{
    display:block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 9990;
  }

}